@inherits LayoutComponentBase

<Layout Style="min-height: 100vh;">
    <Header Class="bg-white d-flex align-items-center">
        <Title Level="3" Class="mb-0">Todos</Title>
    </Header>
    <Content>@Body</Content>
    <Footer> @(DateTime.Now.Year). Developed by Christiaan van der Merwe.</Footer>
</Layout>