@if (Todos.Count > 0)
{
    @*<MudTable Items="@Todos">
        <HeaderContent>
            <MudTh>Title</MudTh>
            <MudTh Class="text-right">Completed</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Title" Class="flex-grow-0">@context.Title</MudTd>
            <MudTd DataLabel="Completed" Class="text-right">
                @if (context.IsCompleted)
                {
                    <span>Yes</span>
                }
                else
                {
                    <span>No</span>
                }
            </MudTd>
            <MudTd Class="text-right"><MudButton Variant="Variant.Outlined">View</MudButton></MudTd>
        </RowTemplate>
    </MudTable>*@
}
