@page "/editTodo/{id:guid}"
@using TodoApp.Client.Components
@using TodoApp.Models.Todo 

<PageHeader BackIcon="true" Ghost="true">
    <PageHeaderTitle>Edit Todo</PageHeaderTitle>
</PageHeader>

<div Class="px-4">
    @if (_errors.Count > 0)
    {
        <ErrorListAlert Errors="_errors" />
    }

    <TodoForm TModel="UpdateTodoDto" Model="@_model" OnFinish="OnFinish" Loading="@_isLoading" />
</div>