@page "/not-found"

<Result Status="404"
        Title="404"
        SubTitle="Sorry, the page you visited does not exist.">
    <Extra>
        <Button type="primary" OnClick="NavigateHome">Back Home</Button>
    </Extra>
</Result>